@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #e57525;
  color: #fff;
  font-family: 'Press Start 2P', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
  font-size: 80%;
}

a {
  color: #fff;
}

h1 {
  line-height: 1.4;
  color: #184586;
}

.btn {
  border: 0;
  background-color: #fff;
  color: #184586;
  padding: 15px 20px;
  font-family: inherit;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:focus {
    outline: none;
  }
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;

  &.up {
    margin-top: -100vh;
  }
}

.insects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;

  li {
    margin: 10px;
  }
}

.choose-insect-btn {
  background-color: transparent;
  border: 2px solid #184586;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  width: 150px;
  height: 150px;

  &:hover {
    background-color: #184586;
    color: #fff;
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.7);
  }

  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
}

.game-container {
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1611072337226-1140ab367200?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=788&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

.time,
.score {
  position: absolute;
  top: 20px;
  color: #184586;
}

.time {
  left: 20px;
}

.score {
  right: 20px;
}

.message {
  line-height: 1.7;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 20px;
  z-index: 100;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150%);

  &.visible {
    transform: translate(-50%, 150%);
    opacity: 1;
  }
}

.insect {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;

  img {
    width: 100px;
    height: 100px;
  }

  &.caught {
    transform: translate(-50%, -50%) scale(0);
  }
}
